
<app-drop-down-div [showDropDown]="true" width="80%" height="60vh" >
    <button mat-raised-button color="primary" class="mr-2" (click)="modalNew.open('md')">Nova venda</button>
    <div style="height: 55vh; overflow: auto;">
        <table mat-table  [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">


            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="valortotal">
                <th mat-header-cell *matHeaderCellDef> Valor total </th>
                <td mat-cell *matCellDef="let element"> {{element.valortotal | currency:'BRL': true}} </td>
            </ng-container>

            <ng-container matColumnDef="vendedor">
                <th mat-header-cell *matHeaderCellDef> Nome vendedor </th>
                <td mat-cell *matCellDef="let element"> {{element.vendedor.nome}} </td>
            </ng-container>


            <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef> Data </th>
                <td mat-cell *matCellDef="let element"> {{element.data | date:'short'}} </td>
            </ng-container>


             <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let element"> 
               <button mat-raised-button class="mr-2" color="warn" (click)="deleteItem = element; modalDelete.open('md')">Excluir</button>    
                <button mat-raised-button color="primary" (click)="update(element)">Editar</button>    
                </td>
            </ng-container>

            
            
            <tr mat-header-row *matHeaderRowDef="colunas"></tr>
            <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
        </table>
    </div>
       




</app-drop-down-div> 


<app-modal #modalNew [title]="form.value.id ? 'Editando a venda id: '+form.value.id : 'Nova venda'">
    <form [formGroup]="form">
        <mat-form-field class="col-md">
            <mat-label>Valor total</mat-label>
            <input matInput type="number" formControlName="valortotal">
        </mat-form-field>
        <mat-form-field class="col-md">
            <mat-label>Vendedor</mat-label>
            <select matNativeControl  formControlName="vendedor">
                <option   *ngFor="let item of itemSource" [value]="item" > 
                    
                     {{item.nome}}
                </option>
            </select>
        </mat-form-field>


    
                    
        <button mat-raised-button class="mr-2"  color="primary" (click)="sendResource()">Enviar</button>
        <button mat-raised-button (click)="modalNew.close()">Cancelar</button>
    </form>
</app-modal>

<app-modal #modalDelete >
    <h2>{{'Deseja excluir a venda id: '+deleteItem?.id}}</h2>
    <button mat-raised-button (click)="delete()" color="warn" class="mr-2">Sim</button>
    <button mat-raised-button (click)="modalDelete.close()">Cancelar</button>
</app-modal>